.form-card {
	margin: 0 20px 0 20px;
}

button {
	margin-top: 10px;
}

.login-form {
	max-width: 300px;
}

.login-form-margin {
	margin-bottom: 16px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}
